name: Convert Markdown to HTML

on:
  push:
    branches:
      - main

jobs:
  convert:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Convert Markdown to HTML
      uses: docker://pandoc/core:3.0
      with:
        args: |
          --output=index.html
          README.md
    
    - name: Save HTML artifact
      uses: actions/upload-artifact@v3
      with:
        name: index.html
        path: /
