name: Convert Markdown to HTML

on:
  push:
    branches:
      - main

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Convert Markdown to Baseline HTML
        run: |
          find . -name "*.md" -type f -exec sh -c '
            for file do
              docker run --rm \
                -v ${{ github.workspace }}:/workspace \
                -w /workspace \
                pandoc/minimal:3.1.1 \
                -o "${file%.md}_baseline.html" \
                "$file"
            done' sh {} +

      - name: Build Docker image with Python
        run: |
          echo "FROM pandoc/minimal:3.1.1-ubuntu" > Dockerfile
          echo "RUN apt-get update && apt-get install -y python3 python3-pip">> Dockerfile
          echo "RUN pip install panflute" >> Dockerfile
          echo "RUN pip install beautifulsoup4" >> Dockerfile.bs
          echo "RUN ln -s /usr/bin/python3 /usr/bin/python" >> Dockerfile
          docker build -t my-pandoc .

      - name: Convert Markdown to Customized HTML
        run: |
          find . -name "*.md" -type f -exec sh -c '
            for file do
              docker run --rm \
                -v ${{ github.workspace }}:/workspace \
                -w /workspace \
                my-pandoc \
                -f markdown -t html \
                -o "/workspace/${file%.md}_custom.html" \
                --filter /workspace/python_scripts/clean_code_tag.py \
                --filter /workspace/python_scripts/remove_p_tags_from_li_filter.py \
                "/workspace/$file"
            done' sh {} +


            
      - name: Build Docker image for Beautifulsoup
        run: |
          echo "FROM python:3" > Dockerfile.bs
          echo "RUN pip install beautifulsoup4" >> Dockerfile.bs
          docker build -t my-bs -f Dockerfile.bs .

      - name: Modify HTML using Beautiful Soup
        run: |
          find . -name "*_custom.html" -type f -exec sh -c '
            for file do
              docker run --rm \
                -v ${{ github.workspace }}:/workspace \
                -w /workspace \
                my-pandoc \
                python python_scripts/edit_html.py "$file"
            done' sh {} +     
            
      - name: Move files to doc and Generate index.html
        run: |
          rm -rf docs 2> /dev/null || true
          mkdir -p docs
          find . -name "*.html" -type f -exec sh -c '
            for file do
              cp "$file" "docs/$(basename "$file")"
              echo "<li><a href=\"$(basename "$file")\">$(basename "$file")</a></li>"
            done' sh {} + > index.html
          mv index.html docs/


      - name: Diff Baseline and Customized HTML
        run: |
          find . -name "*.md" -type f -exec sh -c '
            for file do
              echo "$file"
              diff "${file%.md}_baseline.html" "${file%.md}_custom.html" || true
              echo ""
            done' sh {} +

      - name: Configure Git
        run: |
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"

      - name: Add and Push HTML files
        run: |
          git add --all
          git restore --staged Dockerfile*
          git commit -m "Update README"
          git push origin main
