name: Convert Markdown to HTML

on:
  push:
    branches:
      - main

jobs:
  convert:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    
    - name: Convert Markdown to HTML
      uses: docker://pandoc/core:3.0
      with:
        args: |
          --output=index.html
          README.md
    - name: Add to file
      run: |
        echo "hello" >> index.html
    
    - name: Push
      run: |
        git add index.html
        git commit -m "Update README"
        git push origin main
