name: Convert Markdown to HTML

on:
  push:
    branches:
      - main

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Get modified Markdown files
        id: get_modified_md_files
        uses: colpal/actions-changed-files@v1
        with:
          files: '*.md'

      - name: Convert modified Markdown to Baseline HTML
        uses: docker://pandoc/minimal:3.1.1
        with:
          args: |
            sh -c '
              for file in ${{ steps.get_modified_md_files.outputs.files }}; do
                echo "Converting $file to HTML"
                pandoc -v ${{ github.workspace }}:/workspace -w /workspace -o "${file%.md}.html" "$file"
              done
            '

      - name: Get modified HTML files
        id: get_modified_html_files
        uses: colpal/actions-changed-files@v1
        with:
          files: '*.html'

      - name: Build Docker image for Beautifulsoup
        run: |
          echo "FROM python:3" > Dockerfile.bs
          echo "RUN pip install beautifulsoup4" >> Dockerfile.bs
          docker build -t my-bs -f Dockerfile.bs .

      - name: Modify HTML using Beautiful Soup
        container: my-bs
        run: |
          python python_scripts/edit_html.py ${{ steps.get_modified_html_files.outputs.files }}

      - name: Move modified HTML files to doc
        run: |
          mkdir -p docs
          for file in ${{ steps.get_modified_html_files.outputs.files }}; do
            cp "$file" "docs/$(basename "$file")"
            echo "<li><a href=\"$(basename "$file")\">$(basename "$file")</a></li>"
          done > index.html
          mv index.html docs/

      - name: Configure Git
        run: |
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"

      - name: Add and Push HTML files
        run: |
          git add --all
          git restore --staged Dockerfile*
          git commit -m "Update README"
          git push origin main
